<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130718388778-hejp2fs1rhc5d3idsofr62rilrlelv4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130718388778-hejp2fs1rhc5d3idsofr62rilrlelv4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAYkP1SO17wy347QYtw3K3qpvhucmyD68A</string>
	<key>GCM_SENDER_ID</key>
	<string>130718388778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.lifeistech.Yarakasi</string>
	<key>PROJECT_ID</key>
	<string>yarakasi-2b5f1</string>
	<key>STORAGE_BUCKET</key>
	<string>yarakasi-2b5f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130718388778:ios:02bda2bf8b9a161fc16953</string>
	<key>DATABASE_URL</key>
	<string>https://yarakasi-2b5f1.firebaseio.com</string>
</dict>
</plist>